parameters:
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    excludePaths:
        - src/DependencyInjection/Configuration.php

    ignoreErrors:
        -
            message: "#^Call to an undefined method object\\:\\:getManager\\(\\)\\.$#"
            count: 1
            path: tests/BundleOrmTestCase.php
